.m-timeline-2:before {
    content: '';
    position: absolute;
    left: 6.89rem;
    width: 0.214rem;
    height: 100%;
}
.m-timeline-2:before {
    background-color: #E7E9F5;
}
.m-timeline-2 .m-timeline-2__items .m-timeline-2__item .m-timeline-2__item-text {
    padding-left: 7rem;
}
.m-timeline-2 .m-timeline-2__items .m-timeline-2__item .m-timeline-2__item-cricle {
    left: 6.1rem;
}
.m-timeline-2 .m-timeline-2__items .m-timeline-2__item .m-timeline-2__item-time {
    font-size: 1.1rem;
}
.addressColor{
    color: #3e3e3e;
}