<div class="m-section">
  <div class="example-header">
    <mat-form-field>
      <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
    </mat-form-field>
  </div>
  <div class="example-container mat-elevation-z8">
    <mat-table #sort="matSort" [dataSource]="shipmentData" matSort>

      <ng-container *ngFor="let column of displayedColumns" matColumnDef="{{column}}">
        <mat-header-cell *matHeaderCellDef mat-sort-header> {{column}} </mat-header-cell>
        <mat-cell *matCellDef="let row">
          <span *ngIf="column == 'PrepDetailsList'">{{row[column]['PrepDetails']['PrepInstruction']}}/{{row[column]['PrepDetails']['PrepOwner']}}</span>
          <span *ngIf="column != 'PrepDetailsList'">{{row[column]}}</span>
        </mat-cell>
      </ng-container>
      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>
    <mat-paginator #matPaginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
  </div>
</div>


<!-- <span class="width100" *ngIf="shipmentData">
  <mat-card *ngFor="let list of shipmentData['member']">
    <div class="inline">
      <span class="heading blockCenter">
        SellerSKU
      </span>
      <span class="title">
        {{list.SellerSKU}}
      </span>
    </div>
    <div class="inline">
      <span class="heading blockCenter">
        QuantityShipped
      </span>
      <span class="title">
        {{list.QuantityShipped}}
      </span>
    </div>
    <div class="inline">
      <span class="heading blockCenter">
        QuantityReceived
      </span>
      <span class="title">
        {{list.QuantityReceived}}
      </span>
    </div>
    <div class="inline" class="inline">
      <span class="heading blockCenter">
        QuantityInCase
      </span>
      <span class="title">
        {{list.QuantityInCase}}
      </span>
    </div>
    <div class="inline" class="inline" *ngIf="list.PrepDetailsList && list.PrepDetailsList.PrepDetails">
      <span class="heading blockCenter">
        PrepInstruction
      </span>
      <span class="title">
        {{list.PrepDetailsList.PrepDetails.PrepInstruction}}
      </span>
    </div>
    <div class="inline" class="inline" *ngIf="list.PrepDetailsList && list.PrepDetailsList.PrepDetails">
      <span class="heading blockCenter">
        PrepOwner
      </span>
      <span class="title">
        {{list.PrepDetailsList.PrepDetails.PrepOwner}}
      </span>
    </div>
  </mat-card>
</span> -->