<button mat-button (click)="getProduct()">Click me!</button>
<div class="mat-elevation-z8">
	<mat-spinner class="loader" *ngIf="loading"></mat-spinner>
	<table mat-table *ngIf="!loading" matSort [dataSource]="dataSource" matSort class="mat-elevation-z8">
		<ng-container *ngFor="let column of displayedColumns" matColumnDef="{{column}}">
			<th mat-header-cell *matHeaderCellDef mat-sort-header>
				<span *ngIf="column == 'asin1'">ASIN Name</span>
				<span *ngIf="column == 'seller-sku'">seller-SKU</span>
				<span *ngIf="column !='asin1' && column != 'seller-sku'">{{column | titlecase}}</span>
			</th>
			<td mat-cell *matCellDef="let element">
				<ngx-json-viewer *ngIf="column == 'report Item List'" [json]="element['getProducts']" [expanded]="false"></ngx-json-viewer>
				<span *ngIf="column != 'product Item List' && column != 'created At' && column != 'updated At'" (click)=" GetMatchingProduct(element)">{{element[column.replace(" ", "")] ? element[column.replace(" ", "")] : '***'}}
				</span>
			</td>
		</ng-container>
		<tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
		<tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
	</table>
	<mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
</div>
